{{#if errors}}
  <div class="errorContainer">
    {{#each errors}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}

<section class="create-form-container">
  <form method="POST">
    <h3>Create Book Review</h3>
    <label>Title</label>
    <input
      type="text"
      name="title"
      class="box"
      id="title"
      value="{{bookData.title}}"
    />
    <label>Author</label>
    <input
      type="text"
      name="author"
      class="box"
      id="author"
      value="{{bookData.author}}"
    />
    <label>Genre</label>
    <input
      type="text"
      name="genre"
      class="box"
      id="genre"
      value="{{bookData.genre}}"
    />
    <label>Stars</label>
    <input
      type="number"
      name="stars"
      class="box"
      id="stars"
      value="{{bookData.stars}}"
    />
    <label>Image</label>
    <input
      type="text"
      name="image"
      class="box"
      id="image"
      value="{{bookData.image}}"
    />
    <label>Review</label>
    <textarea
      class="box"
      name="bookReview"
    >{{bookData.bookReview}}</textarea>
    <input type="submit" value="Create" class="btn" />
  </form>
</section>