<section id="detailsPage">
    <div id="detailsInfo">
        <h1>Name: {{electronics.name}}</h1>
        <div class="info"><img src="{{electronics.image}}"></div>

        <div class="info">
            <h3>Type: {{electronics.type}}</h3>
            <h3>Year of Production: {{electronics.production}}</h3>
            <h3>Years of Exploitation: {{electronics.exploitation}}</h3>
            <h3>Damages: {{electronics.damages}}</h3>
            <h3>Description: {{electronics.description}}</h3>
            <h2>Price: ${{electronics.price}}</h2>
        </div>

        {{#if isAuthenticated}}
        <!--If there is user logged in-->
        <div class="buttons">
            {{#if isCreator}}
            <!--If user is owner-->
            <a href="/electronics/{{electronics._id}}/edit" class="edit-btn">Edit</a>
            <a href="/electronics/{{electronics._id}}/delete" class="delete-btn">Delete</a>
            {{else}}
            {{#if canBuy}}
            <!--If user is not owner of the toy post-->
            <a href="/electronics/{{electronics._id}}/buy" class="buy-btn">Buy</a>
            {{else}}
            <!--If user is not the owner and is bought this toy-->
            <p><span class="buy">Thank You For Your Purchase</span></p>
            {{/if}}
            {{/if}}
        </div>
        {{/if}}
    </div>
</section>