<main>
  <section id="create-page">
    <div class="createSection">
      <div class="info">
        <h2>
          "Dobby Never Meant To Kill! Dobby Only Meant to
          Maim, or Seriously Injure."
        </h2>
      </div>

      <form method="POST" class="createForm">
        <h2>Create Post</h2>
        <ul class="noBullet">
          <li>
            <label for="title">Name:</label>
            <input
              type="text"
              class="inputFields"
              id="name"
              placeholder="Delphini"
              name="name"
              value="{{postData.name}}"
            />
          </li>
          <li>
            <label for="key-word">Species:</label>
            <input
              type="text"
              class="inputFields"
              id="species"
              placeholder="Human"
              name="species"
              value="{{postData.species}}"
            />
          </li>
          <li>
            <label for="skin">Skin Colour:</label>
            <input
              type="text"
              class="inputFields"
              id="skin"
              placeholder="Black"
              name="skinColor"
              value="{{postData.skinColor}}"
            />
          </li>
          <li>
            <label for="date">Eye Colour:</label>
            <input
              type="text"
              class="inputFields"
              id="eye"
              placeholder="Black"
              name="eyeColor"
              value="{{postData.eyeColor}}"
            />
          </li>
          <li>
            <label for="image">Creature Image:</label>
            <input
              type="text"
              class="inputFields"
              id="image"
              placeholder="http:/..."
              name="image"
              value="{{postData.image}}"
            />
          </li>
                    <li>
            <img id="postImage"src="{{#if post.image}}{{post.image}}{{else}}/img/no-image.jpg{{/if}}" alt="{{post.name}}" style="width: 80px; height: 80px">
          </li>
          <li>
            <label for="description">Description:</label>
            <textarea
              id="description"
              class="inputFields"
              name="description"
              placeholder="Creature..."
            >{{postData.description}}</textarea>
          </li>
          <li id="center-btn">
            <button id="create-btn">Create</button>
          </li>
        </ul>
      </form>
    </div>
  </section>
</main>

<script>
  const imageUrlInput = document.getElementById('image');
  const postImage = document.getElementById('postImage');
  imageUrlInput.addEventListener('input', function () {
  const imageUrl = imageUrlInput.value;
   postImage.src =imageUrl;   
   });
</script>