<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    {{#if title}}
    {{title}}
    {{else}}
    Second Hand Electronics
    {{/if}}
  </title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <!-- In case of error, you should display div with class "errorContainer" -->
  <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

  {{#if errors}}
  <div>
    <div class="errorContainer">
      {{#each errors}}
      <p>{{this}}</p>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div id="container">

    <nav>
      <ul>
        <!--For all users-->
        <li><a href="/">Home</a></li>
        <li><a href="/electronics/all">Catalog</a></li>
        {{#if isAuthenticated}}
        <!--For loggin users-->
        <li><a href="/electronics/create">Create Offer</a></li>
        <li><a href="/electronics/search">Search</a></li>
        <li><a href="/users/logout">Logout</a></li>
        {{else}}
        <!--For guest user-->
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
        {{/if}}
      </ul>
    </nav>
    {{{body}}}
    <footer>@SoftUni - JS Back-End - Second Hand Electronics 2023</footer>
  </div>
</body>

</html>