<header>
  <nav>
    <ul class="navigation">
      <li><a href="/">Home Page</a></li>
      <li><a href="/cats/add-breed">Add Breed</a></li>
      <li><a href="/cats/add-cat">Add Cat</a></li>
    </ul>
  </nav>
  <h1>Cat Shelter</h1>
</header>
<main>
  <form
    method="POST"
    class="cat-form"
    enctype="multipart/form-data"
  >
    <h2>Add Cat</h2>
    <label for="name">Name</label>
    <input
      name="name"
      type="text"
      id="name"
      value="{{cat.name}}"
      required
    />
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
    >{{cat.description}}</textarea>
    <label for="image">Image</label>
    <input name="upload" type="file" id="image" required/>
    <img alt="cat-image" src="/images/{{cat.image}}" />
    <label for="group">Breed</label>
    <select name="breed" id="group">
      <option
        value="{{cat.breed}}"
        selected
      >{{cat.breed}}</option>
      {{#each allBreeds}}
        {{! using the partial template }}
        {{>breed}}
      {{/each}}
    </select>
    <button type="submit">Add Cat</button>
  </form>
</main>