<div class="flip flip-vertical">
  <div class="front">
    <img src={{image}} alt="" />
  </div>
  <div class="back">
    <h1>{{name}}</h1>
    <h2>Species: {{species}}</h2>
    <p>{{description}}</p>
    <a
      href="/posts/{{_id}}/details"
      class="details"
    >Details</a>
  </div>
</div>