<li>
  <img src="/images/{{image}}" alt="{{name}}" />
  <h3>{{name}}</h3>
  <p><span>Breed: </span>{{breed}}</p>
  <p><span>Description: </span>{{description}}</p>
  <ul class="buttons">
    <li class="btn edit"><a href="/edit/{{id}}">Change Info</a></li>
    <li class="btn delete"><a href="/newhome/{{id}}">New
        Home</a></li>
  </ul>
</li>